.main-product-components {
  margin: 3px;
  }
  .search-component {
    margin-bottom: 20px;
  }
  .products-purchase {
    color: #4c57af; /* green */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: smaller;
  }
  .products-sold {
    color: #FF9800; /* orange */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: smaller;
  }
  .products-stock {
    color: #009688; /* teal */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: smaller;
  }
  .product-status {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-status > div {
    margin: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .search-input {
    position: relative; /* This is needed for the bottom border to work properly */
    border-bottom: 3px solid #919090; /* This changes the border color to #ddd on hover */
    border-bottom: 1px solid  ; /* This sets a transparent border by default */
    transition: border-bottom 0.3s ease-in-out; /* This adds a smooth transition for the border */
  }
  .search-input:hover {
    border-bottom: 3px solid black; /* This changes the border color to #ddd on hover */
  }
  .search-input input {
    border: none; /* This removes the default border of the input field */
    background-color: transparent; /* This makes the input field transparent */
    outline: none;
  }
  .product-stock-details{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    box-shadow:4px;
  }
  
/*stock details*/

  .product-statuses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;

  }
  .instock,.out-of-stocks,.expired,.instock-graph{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #999;
    padding: 10px;
  }
  .instock-graph,.instock{
    height: 40vh;
  }
  .instock-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:larger;
  }
  .total-product-count,.total-items-count{
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    font-weight: bold;
    color: rgb(74, 69, 121); 
  }

  /*catogary acordian*/
.all-catogaries-heading{
  font-family: 'Open Sans', sans-serif;

  font-weight: bold;
  font-size:larger;
}

  .see-products {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
  }
  
  .products-add-read {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .products-add-read > div {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.catogaries-accordion-item,.accordion-button{
  background-color: white !important;
}

.accordian-bod{
  height: 40vh;
}
.product-stats{
  font-family: 'Pacifico', cursive;
  margin: 5px 0;
}
.totals{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.good-stock-products{
  color: green;
}
.nearly-expiring-products{
  color: orange;
}
.nearly-stock-out-products{
  color: yellowgreen;
}
.expired-products{
  color: brown;
}
.damaged-products{
  color: black;
}
.out-of-stock-products{
  color: red;
}